{{> topPage }}
    <div class="container vh-100 vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>Calculadora VLSM</h1>

        <form id="network-info" class="w-100 d-flex flex-column align-items-center">
            <div class="d-flex gap-3 mb-3">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="main_network" class="col-form-label">Dirección principal</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="main_network" class="form-control form-control-sm" value="192.168.1.0/24" required>
                        <div class="invalid-feedback">
                            Dirección inválida (Ej. 192.168.1.0/24)
                        </div>
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="lans_count" class="col-form-label">No. redes</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" min="2" max="20" step="" id="lans_count" class="form-control form-control-sm" value="4" required>
                    </div>
                </div>
            </div>

            <table class="table table-sm table-bordered w-75">
                <thead>
                    <tr class="text-center">
                        <th>Nombre de la subred</th>
                        <th>No. de dispositivos</th>
                    </tr>
                </thead>
                <tbody id="table-body-lans"></tbody>
            </table>

            <div class="text-center">
                <button type="submit" class="btn btn-secondary" id="btn-calculate">Calcular las subredes</button>
            </div>
        </form>
    </div>

    <script src="/js/inputs.js"></script>
{{> bottomPage }}